* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .binary_search_container{
    height: 400px;
 }
 
 .animation_area{
    display: flex;
    border: 2px dotted Red;
    min-height: 40vh;
    flex-direction: column;
 
 }
 
 #arrayboxes {
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content: center;
     align-items: center; */
 
     left: 1%;
 }
 
 #arrayboxes{
    list-style: none;
 }

 
 
 
 .array-box {
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    padding: .3% 1%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 32px;
    
 }
 .target_box{
    display: none;
    position: relative;
    align-items: center;
    /* justify-content: center; */
    font-size: 32px;
    top:20%;
    left: 1.5%;
 }
 
 
 #target {
    display: none;
    position: relative;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    
 
    height: fit-content;
    width:fit-content;
    padding: .3% 1%;
    margin: 1%;
    align-items: center;
    justify-content: center;
 }
 #target {
   display: none;
   position: relative;
   border: 2px solid #bdbdbd;
   border-radius: 5px;
   

   height: fit-content;
   width:fit-content;
   padding: .3% 1%;
   margin: 1%;
   align-items: center;
   justify-content: center;
}
#start {
   display: none;
   position: relative;
   border: 2px solid #bdbdbd;
   border-radius: 5px;
   

   height: fit-content;
   width:fit-content;
   padding: .3% 1%;
   margin: 1%;
   align-items: center;
   justify-content: center;
}
#mid {
   display: none;
   position: relative;
   border: 2px solid #bdbdbd;
   border-radius: 5px;
   

   height: fit-content;
   width:fit-content;
   padding: .3% 1%;
   margin: 1%;
   align-items: center;
   justify-content: center;
}
#end {
   display: none;
    position: relative;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    
 
    height: fit-content;
    width:fit-content;
    padding: .3% 1%;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
 .box{
   /* display: none; */
    position: relative;
    align-items: center;
    width: 18%;
    /* justify-content: center; */
    font-size: 32px;
    top:20%;
    left: 1.5%;
}
.start_mid_end{
   display: flex;
   flex-direction: column;
}

.end_box{
   display: none;
    position: relative;
    align-items: center;
    /* justify-content: center; */
    width: 18%;
    font-size: 32px;
    top:20%;
    left: 1.5%;
}

.start_end{
   display: flex;
   flex-direction: row;
 }
 
 #number_array{
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 1%;
 }
 #target_number{
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 1%;
 
 }
 
 .input_area{
    /* background-color: aqua; */
    margin: 1% 0;
    padding: 1% 1%;
 
    position: relative;
    left: -3.2%;
 
    height: 50%;
    width: 75%;
    display: inline-flex;
 }
 
 .input_array{
    height: 90%;
    /* display: none; */
    overflow: hidden;
    border: 3px rgb(255, 53, 107) solid;
    padding: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
    width: 75%;
    font-size: 22px;
 }
 
 
 .input_array_active{
    height: 90%;
    border: 3px rgb(255, 53, 107) solid;
    padding: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
    width: 75%;
    font-size: 22px;
 }
 .slider{
    cursor: pointer;
    height: 90% ;
    display: flex;
    background-color: #ff4545;
    align-items: center;
    transition: all 0.5;
 
 }
 .slider svg {
    width: 3rem;
    height:auto;
 }
 
 .buttons{
    border: 2px solid #ff4545;
    color: white;
    margin: 0 2% 0 0;
 }
 .buttons:hover{
    color: #ff4545;
 }
 
 .found , .not-found{
    display: none;
    position: relative;
    flex-direction:column;
    align-items: center;
 
    margin: 1% 20%
 }
 .not-found img{
    height: auto;
    width: 200px;
 }
 
 #arrayboxes li{
    opacity: 0;
 }
 #arrow{
    position: absolute;
    top: 46%;
    left: 50%;
 }